<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Groupie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A web app to join different groups and communities based on one's interest and preference."
    />
    <link
      href="assets/css/theme-saas.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/Inter-UI-upright.var.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="assets/fonts/Inter-UI.var.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="navbar-container">
      <nav
        class="navbar navbar-expand-lg justify-content-between navbar-light border-bottom-0 bg-white"
        data-sticky="top"
      >
        <div class="container">
          <a class="navbar-brand fade-page" href="/"> Groupie </a>
          <button
            class="navbar-toggler bg-white"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img
              class="icon navbar-toggler-open"
              src="assets/img/icons/interface/menu.svg"
              alt="menu interface icon"
              data-inject-svg
            />
            <img
              class="icon navbar-toggler-close"
              src="assets/img/icons/interface/cross.svg"
              alt="cross interface icon"
              data-inject-svg
            />
          </button>
          <div
            class="collapse navbar-collapse justify-content-end col flex-fill px-0"
          >
            <div class="py-2 py-lg-0">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="/groups" class="nav-link">Groups</a>
                </li>
                <li class="nav-item">
                  <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a href="/contact" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
            <div
              class="collapse navbar-collapse justify-content-end col flex-fill px-0"
            >
              <a href="/users/logout" class="btn btn-primary ml-lg-3">Sign Out</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <section class="bg-primary-3 jarallax min-vh-80 d-flex flex-column justify-content-center pb-0 o-hidden" data-jarallax data-speed="0.2" data-overlay>
      <img src="assets/img/new/undraw_group_hangout_re_4t8r.svg" alt="Image" class="jarallax-img opacity-30">
      <div class="container py-5 position-relative">
        <%- include ('partials/messages') %>
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <h1 class="display-4 text-light">Hello, <%= username %>.</h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <p class="text-light">
              Welcome back. You'll find the groups you created here. If you have any issues or question, don't hesitate to reach out.
            </p>  
            <a href="groups/new" class="lead text-light hover-arrow">add group here</a>
          </div>
        </div>
      </div>
      <div class="decoration-wrapper">
        <div class="decoration bottom left scale-2 flip-y d-none d-xl-block" data-jarallax-element="50">
          <img class="bg-white" src="assets/img/decorations/deco-dots-4.svg" alt="deco-dots-4 decoration" data-inject-svg />
        </div>
        <div class="decoration bottom right scale-3" data-jarallax-element="80">
          <img class="bg-primary-2" src="assets/img/decorations/deco-blob-13.svg" alt="deco-blob-13 decoration" data-inject-svg />
        </div>
      </div>
    </section>

    <section class="pt-5">
      <div class="container">
        <div class="row">
          <% if (groups == "") { %>
            <h4>no group(s) added yet.</h4>
          <% } else { %>
          <% groups.forEach((group) => { %>
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <a href="#">
                <img src="/<%= group.coverImage %>" alt="Image" class="card-img-top">
              </a>
              <div class="card-body align-items-start">
                <div class="mb-3">
                  <% function titleCase(str) { %>
                    <% return str.toLowerCase().split(' ').map(function(word) { %>
                      <% return (word.charAt(0).toUpperCase() + word.slice(1)); %>
                    <% }).join(' '); %>
                  <% } %>
                  <h3 class="groupName"><%= titleCase(group.groupName) %></h3>
                </div>
                <p>
                  <%= titleCase(group.description) %>
                </p>
                <p>
                  <%= titleCase(group.course) %>
                </p>
                <p>
                  <%= titleCase(group.groupType) %>
                </p>
                <% let formatted_date = group.date.getDate() + "-" +
                (group.date.getMonth() + 1) + "-" + group.date.getFullYear() %>
                <p><strong>Added on: <%= formatted_date %></strong></p>
                <a href="<%= group.inviteUrl %>" class="btn btn-primary btn-block">Join</a>
                <hr>
                <a
                  class="btn btn-xs btn-warning text-white"
                  href="/groups/<%= group._id %>/edit"
                  >Edit</a
                >

                <form
                      id="delete-form"
                      style="display: inline; float: right;"
                      action="/groups/<%= group.id %>?_method=DELETE"
                      method="POST"
                    >
                      <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
              </div>
            </div>
          </div>
          <%});%>
          <% } %>
        </div>
      </div>
    </section>

    <footer class="pb-4 bg-primary text-light" id="footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col">
            <div
              class="card card-body border-0 o-hidden mb-0 bg-primary-3 text-light"
            >
              <div
                class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center"
              >
                  <div class="h3 text-center mb-md-0">
                    We are happy to have you <%= currentUser.username %>
                  </div>
                  <a href="/users/logout" class="btn btn-lg btn-white">
                    Sign Out
                  </a>
              </div>
              <div class="decoration layer-0">
                <img
                  class="bg-primary-2"
                  src="assets/img/decorations/deco-blob-1.svg"
                  alt="deco-blob-1 decoration"
                  data-inject-svg
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-6 col-lg-3 col-xl-2">
            <h5>Navigate</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/groups" class="nav-link">Groups</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg">
            <h5>Contact</h5>
            <ul class="list-unstyled">
              <li class="mb-3 d-flex">
                <img
                  class="icon"
                  src="assets/img/icons/theme/map/marker-1.svg"
                  alt="marker-1 icon"
                  data-inject-svg
                />
                <div class="ml-3">
                  <span>348 Greenpoint Avenue <br />Brooklyn, NY</span>
                </div>
              </li>
              <li class="mb-3 d-flex">
                <img
                  class="icon"
                  src="assets/img/icons/theme/communication/call-1.svg"
                  alt="call-1 icon"
                  data-inject-svg
                />
                <div class="ml-3">
                  <span>+61 3928 3324</span>
                  <span class="d-block text-muted text-small"
                    >Mon - Fri 9am - 5pm</span
                  >
                </div>
              </li>
              <li class="mb-3 d-flex">
                <img
                  class="icon"
                  src="assets/img/icons/theme/communication/mail.svg"
                  alt="mail icon"
                  data-inject-svg
                />
                <div class="ml-3">
                  <a href="#">help@groupie.com</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row justify-content-center mb-2">
          <div class="col-auto">
            <ul class="nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img
                    class="icon"
                    src="assets/img/icons/social/instagram.svg"
                    alt="instagram social icon"
                    data-inject-svg
                  />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img
                    class="icon"
                    src="assets/img/icons/social/twitter.svg"
                    alt="twitter social icon"
                    data-inject-svg
                  />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img
                    class="icon"
                    src="assets/img/icons/social/youtube.svg"
                    alt="youtube social icon"
                    data-inject-svg
                  />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img
                    class="icon"
                    src="assets/img/icons/social/medium.svg"
                    alt="medium social icon"
                    data-inject-svg
                  />
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <img
                    class="icon"
                    src="assets/img/icons/social/facebook.svg"
                    alt="facebook social icon"
                    data-inject-svg
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <a
      href="#"
      class="btn back-to-top btn-primary-3 btn-round"
      data-smooth-scroll
      data-aos="fade-up"
      data-aos-offset="2000"
      data-aos-mirror="true"
      data-aos-once="false"
    >
      <img
        class="icon"
        src="assets/img/icons/theme/navigation/arrow-up.svg"
        alt="arrow-up icon"
        data-inject-svg
      />
    </a>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="assets/js/aos.js"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="assets/js/clipboard.min.js"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script
      type="text/javascript"
      src="assets/js/jquery.fancybox.min.js"
    ></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script
      type="text/javascript"
      src="assets/js/flickity.pkgd.min.js"
    ></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script
      type="text/javascript"
      src="assets/js/ion.rangeSlider.min.js"
    ></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
    <script
      type="text/javascript"
      src="assets/js/jarallax-video.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/js/jarallax-element.min.js"
    ></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script
      type="text/javascript"
      src="assets/js/jquery.countdown.min.js"
    ></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script
      type="text/javascript"
      src="assets/js/jquery.smartWizard.min.js"
    ></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script
      type="text/javascript"
      src="assets/js/plyr.polyfilled.min.js"
    ></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="assets/js/prism.js"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script
      type="text/javascript"
      src="assets/js/smooth-scroll.polyfills.min.js"
    ></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script
      type="text/javascript"
      src="assets/js/svg-injector.umd.production.js"
    ></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script
      type="text/javascript"
      src="assets/js/twitterFetcher_min.js"
    ></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
      window.addEventListener("load", function () {
        document.querySelector("body").classList.add("loaded");
      });
    </script>
  </body>
</html>
