<%- include ('../partials/header') %>
<section>
    <div class="container">
      <div class="row justify-content-center text-center mb-6">
        <div class="col-xl-8 col-lg-9">
          <h4 class="display-4 mx-xl-6">Search result.</h4>
          <% if(groups == "") { %>
            <p class="lead">
              <%= search %> was not found.
            </p>
          <% } else { %>
          <p class="lead">
            Here are the result for <%= search %>.
          </p>
        </div>
      </div>
      
      <div class="row">
        <% groups.forEach((group) => { %>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <a href="#">
              <img src="/<%= group.coverImage %>" alt="Image" class="card-img-top">
            </a>
            <div class="card-body align-items-start">
              <div class="mb-3">
                <h3 class="groupName"><%= group.groupName %></h3>
              </div>
              <p>
                <%= group.description %>
              </p>
              <p>
                <%= group.course %>
              </p>
              <p>
                <%= group.groupType %>
              </p>
              <% let formatted_date = group.date.getDate() + "-" +
              (group.date.getMonth() + 1) + "-" + group.date.getFullYear() %>
              <p><strong>Added on: <%= formatted_date %></strong></p>
              <div class="d-flex align-items-center mt-3">
                <img src="/<%= group.author.image %>" alt="user" class="avatar avatar-sm">
                <div class="ml-1">
                  <span class="text-small text-muted">By</span>
                  <span class="text-small"><%= group.author.username %></span>
                </div>
              </div>
              <hr>
                <%  if(!currentUser){ %>
                    <p class="text-small text-muted mx-xl-6">Sign in to join</p>
                <% } else { %>
                    <a href="<%= group.inviteUrl %>" class="btn btn-primary btn-block">Join</a>
                <%  } %>
            </div>
          </div>
        </div>
        <%});%>
      </div>
      <% } %>
    </div>
  </section>
<%- include ('../partials/footer') %>